extends ../layouts/layout

block head
  title Welcome!

block content
  //- .jumbotron.white
  //-   h1 Welcome!
  .container
    .row
      .col-md-6.col-md-offset-3
        h2 Hello, #{user.username}!